@import"./variables.scss";



body{
    background-color: $color-principal;
    
}


//mixin en sass
//son un tipo de funcion la cual nos permte almacaner codigo y reutilizarlo

@mixin alertita($bg:green,$color-text:#fff){
    background-color:$bg;
    padding: $padding-1;
    border-radius: $padding-1;
    color: $color-text;
    margin-bottom: $padding-1;
}

.success{
    //aca en vez de hacer el estilo una y otra vez solo deberia llamar a el mixin
    @include alertita;
}

.warning{
    @include alertita($bg: blue,$color-text:yellow);
}

.danger{
    @include alertita($bg:red);
}

//ASI COMO LOS MIXIN retornA UNA PORCIO DE CODIGO  tambien me puede retornar una clase directa
// el proposito de esto es generar codigo completo es dcir dese la creaciun de su clase 

@mixin generate-icons($name,$icon,$color,$size:600px){
    // de esta forma concatenamos un texto con una variable en sass
    .div-icon-#{$name}{
        background: url("./images/#{$icon}");
        border: solid 4px $color;
        background-size: cover;
        width: $size;
        height: $size;
    }
    
}

@include generate-icons("phone","phone.jpeg",black,300px);
@include generate-icons("laptop","laptop.png" ,green,400px )

